.head-container {
    padding-bottom: 50px;
    padding-left: 10px;
    .filter-item {
      display: inline-block;
      vertical-align: middle;
      margin: 0 3px 10px 0;
      input {
        height: 30.5px;
        line-height: 30.5px;
      }
    }
  }
  .app-container{
    height: 100%;
    background-color: #fff;
    text-align: center;
    padding: 20px 0 0 0;
    border-radius: 4px;
    //margin-top: -24px;
    h1{
      font-size: 48px;
    }
  }